<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="assets/img/new_logo.png">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>MasukKerja</title>
    <!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="landingpage/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="landingpage/assets/css/font-awesome.css">

    <link rel="stylesheet" href="landingpage/assets/css/templatemo-lava.css">

    <link rel="stylesheet" href="landingpage/assets/css/owl-carousel.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            MasukKerja
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" style="margin-top: 250px;"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Aplikasi <em>MasukKerja</em></h1>
                        <p>Kerja besok aman ga ya? MasukKerja solusinya! </p>
                        <a th:href="@{login}" class="main-button-slider">LOGIN SEKARANG</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->
    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="sub-footer">
            <p>Copyright &copy; Jessi Febria</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="landingpage/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="landingpage/assets/js/popper.js"></script>
    <script src="landingpage/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="landingpage/assets/js/owl-carousel.js"></script>
    <script src="landingpage/assets/js/scrollreveal.min.js"></script>
    <script src="landingpage/assets/js/waypoints.min.js"></script>
    <script src="landingpage/assets/js/jquery.counterup.min.js"></script>
    <script src="landingpage/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="landingpage/assets/js/custom.js"></script>

</body>

</html>